/**
 * @file
 * Styling for Juice theme.
 */

/**
 * Theming for messages. Largely taken from Claro.
 */
[dir="ltr"] .messages-list {
  padding-left: 0;
}

[dir="rtl"] .messages-list {
  padding-right: 0;
}

[dir="ltr"] .messages-list {
  padding-right: 0;
}

[dir="rtl"] .messages-list {
  padding-left: 0;
}

.messages-list {
  margin-top: 1.125rem;
  margin-bottom: 1.125rem;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

[dir="ltr"] div.messages,
div.messages.messages--status,
div.messages.messages--info,
div.messages.messages--warning,
div.messages.messages--error {
  padding-left: 1.6875rem;
}

[dir="rtl"] div.messages,
div.messages.messages--status,
div.messages.messages--info,
div.messages.messages--warning,
div.messages.messages--error {
  padding-right: 1.6875rem;
}

[dir="ltr"] div.messages,
div.messages.messages--status,
div.messages.messages--info,
div.messages.messages--warning,
div.messages.messages--error {
  padding-right: 1.6875rem;
}

[dir="rtl"] div.messages,
div.messages.messages--status,
div.messages.messages--info,
div.messages.messages--warning,
div.messages.messages--error {
  padding-left: 1.6875rem;
}

div.messages,
div.messages.messages--status,
div.messages.messages--info,
div.messages.messages--warning,
div.messages.messages--error {
  min-height: 4.25rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  color: #fff;
  outline: solid 1px transparent;
  background-color: #0d1214
}

.messages.messages-list__item {
    background-image: none;
  }

[dir="ltr"] .messages__list {
  margin-left: 0;
}

[dir="rtl"] .messages__list {
  margin-right: 0;
}

[dir="ltr"] .messages__list {
  margin-right: 0;
}

[dir="rtl"] .messages__list {
  margin-left: 0;
}

[dir="ltr"] .messages__list {
  padding-left: 0;
}

[dir="rtl"] .messages__list {
  padding-right: 0;
}

[dir="ltr"] .messages__list {
  padding-right: 0;
}

[dir="rtl"] .messages__list {
  padding-left: 0;
}

.messages__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
}

.messages:not(.hidden) ~ .messages {
  margin-top: 1.125rem;
}

.messages__item + .messages__item {
  margin-top: 0.5625rem;
}

.messages__container {
  display: flex;
}

[dir="ltr"] .messages__header {
  margin-right: 1.125rem;
}

[dir="rtl"] .messages__header {
  margin-left: 1.125rem;
}

.messages__header {
  flex-shrink: 0
}

[dir="ltr"] .messages__header.no-icon {
    margin-right: 0;
}

[dir="rtl"] .messages__header.no-icon {
    margin-left: 0;
}

.messages__content {
  overflow: auto; /* Ensure large code blocks can be scrolled to. */
  flex: 1;
  padding-top: 0.1875rem;
}

[dir="ltr"] .messages__button {
  margin-left: 1.125rem;
}

[dir="rtl"] .messages__button {
  margin-right: 1.125rem;
}

.messages__button {
  flex-shrink: 0;
  padding-top: 0.1875rem;
}

[dir="ltr"] .messages__close {
  padding-left: 0;
}

[dir="rtl"] .messages__close {
  padding-right: 0;
}

[dir="ltr"] .messages__close {
  padding-right: 0;
}

[dir="rtl"] .messages__close {
  padding-left: 0;
}

.messages__close {
  position: relative;
  width: 1.5625rem;
  height: 1.5625rem;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  vertical-align: top;
  border: 0;
  background: none;
  -webkit-appearance: none;
  appearance: none
}

.messages__close:before,
  .messages__close:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 2.0625rem;
    height: 0;
    content: "";
    border-top: solid 2px #7e96a7;
  }

.messages__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

.messages__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.messages__close:hover::before,
    .messages__close:hover::after {
      border-color: #fff;
    }

.messages__close:focus {
    outline: 2px solid #53b0eb;
    outline-offset: 2px;
  }

.messages__icon svg {
  vertical-align: top;
}

.messages--error .messages__icon svg {
  fill: #e33f1e;
}

.messages--warning .messages__icon svg {
  fill: #fdca40;
}

.messages--status .messages__icon svg {
  fill: #3fa21c;
}

.messages--info .messages__icon svg {
  fill: #53b0eb;
}

.messages a {
  color: #fff;
}

.messages pre {
  margin: 0;
}

[dir="ltr"] .js-form-managed-file .messages {
  border-left: solid 6px #e33f1e;
}

[dir="rtl"] .js-form-managed-file .messages {
  border-right: solid 6px #e33f1e;
}

.js-form-managed-file .messages {
  margin-bottom: 1.125rem;
}

.webform-likert-table .form-type--boolean .form-boolean {
  float: none;
}

/**
 * Styling for the language switcher.
 */
.juice-language-switcher {
  list-style: none;
  margin: 0;
}

/**
 * Allow menus to hover over dump() output.
 */
pre.sf-dump {
  z-index: unset;
}

/**
 * Style the top-header region.
 */
.juice-top-header-wrapper {
  flex-grow: 1;
  text-align: right;
  margin-right: 15px;
}

.gin-breadcrumb-wrapper {
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
